.i-bottom { background-image: url('png/bottom.png'); background-repeat: no-repeat; }

.i-top { background-image: url('png/top.png'); background-repeat: no-repeat; }

.i-trapdoor { background-image: url('png/trapdoor.png'); background-repeat: no-repeat; }

