
#tower {
  position: relative;
}


.entrance {
  @include clear;
  padding: 20px;
  color: #5e5b5a;
}

.entrace__img {
  float: left;
  width: 80px;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 25px;
}

.entrance__icons {
  @include media-obj;
  padding-top: 75px;
  padding-left: 10px;
  ._icon {
    @include icon(50px, 50px, inline-block);
    margin-left: 20px;
  }
}

.entrace__text {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  p {
    font-size: 16px;
    font-style: italic;
    padding-bottom: 20px;
  }
}

// qrtusv123456!@#$%^()
.fleuron {
  font-family: $fleurons;
  font-weight: $roman;
  font-style: normal;
}

